<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="event management home page.">
    <meta name="author" content="Devcrud">
    <title>Events web</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + JoeBLog main styles -->
	<link rel="stylesheet" href="{% static 'css/joeblog.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- page First Navigation -->
    <!-- End Of First Navigation -->

    <!-- Page Second Navigation -->
    {% block content %}


    {% endblock %} 

	<!-- core  -->
    <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- JoeBLog js -->
    <script src="{% static 'js/joeblog.js' %}"></script>

</body>
</html>
